<% messages.each do |message| %>
  <blockquote class="blockquote message alert alert-<%= message.user == current_user ? 'warning float-right': 'info float-left' %>">
    <p class="mb-0">
      <%= message.content %>
    </p>
    <footer class="blockquote-footer">
      <%= link_to message.user.complete_name, message.user %>
      <cite title="Source Title">Source Title</cite>
    </footer>
  </blockquote>
<% end %>