
<p><strong>Bienvenue sur <%= link_to 'Immersion' , root_url %></strong>, Votre compte a été crée avec succès.</p>
<ul>
  <li><strong>Iddentifiant:</strong> <%= @user.email %></li>
</ul>
<p>Confirmez votre addresse mail en cliquant sur ce lien: <%= link_to nil, @url %>.</p>
<hr/>
<small>En cas de problème, n'hésitez pas à contacter le support via cette addresse mail.</small>
