<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active " aria-current="page"><%= t 'users' %></li>
  </ol>
</nav>
<h1><%= t 'users' %></h1>
<div class="row">
  <% @users.each do |user| %>
    <div class="col-3">
      <div class="p-2">
        <%= render 'users/sticker', user: user %>
      </div>
    </div>
  <% end %>
</div>