<div class="col mb-5">
  <h2><%= t 'categories' %></h2>
  <%= render 'categories/list', categories: @categories %>
</div>
<div class="col mb-5">
  <h2><%= t 'products' %></h2>
  <%= render 'products/list', products: @products %>
</div>