<div class="row">
  <div class="col">
    <h1><%= t 'reservation.for' %> "<%= @product.name %>"</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render 'form', reservation: @reservation, label: t('form.start_on') %>
  </div>
  <div class="col">
    <%= render 'products/list', products: [@product] %>
  </div>
</div>