<div class="row">
  <% categories.each do |category| %>
    <div class="col-md-4">
      <%= link_to category, class: 'media-category' do %>
        <div class="media border border-light bg-light">
          <div class="media-img mr-3" style="background-image: url(<%= category.picture.url %>)">
          </div>
          <div class="media-body">
            <strong><%= category.name %></strong>
            <%= pluralize category.products.size, t('product.product'), t('products') %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>