<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active " aria-current="page">Prestations</li>
  </ol>
</nav>
<h1><%= t('categories') %></h1>
<p class="lead"><%= t 'lorem' %></p>
<%= render 'list', categories: @categories %>