<section class="row">
  <div class="col">
    <h1><%= @title %></h1>
    <div class="py-5">
      <%= render 'products/search_form' %>
    </div>
    <%= render 'products/list', products: @products %>
  </div>
</section>