<h1><%= @product.name %> <small> proposé par <%= link_to @product.user.complete_name, @product.user %></small></h1>
<p><%= @product.description %></p>
<%= link_to 'Editer', edit_product_path(@product), class: 'btn btn-warning' if @product.user == current_user %>